

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="shortcut icon" type="x-icon" href="/assests/adminlogo.png">
    <title><%= locals.title  %></title>
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

<body>
    <section class="vh-100 login_main">
        <div class="container h-100">
            <a href="/">
            <img class="mt-2" src="/assests/logo.png" alt=""></a>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11 m-auto">
                    <div class="card text-black border-0 login_submain">
                        <div class="card-body p-md-5 login_submain overflow-hidden">
                            <div class="col-12 wave_login">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                                    <path fill="#61d3c3" fill-opacity="1"
                                        d="M0,128L26.7,160C53.3,192,107,256,160,240C213.3,224,267,128,320,106.7C373.3,85,427,139,480,149.3C533.3,160,587,128,640,138.7C693.3,149,747,203,800,192C853.3,181,907,107,960,90.7C1013.3,75,1067,117,1120,149.3C1173.3,181,1227,203,1280,202.7C1333.3,203,1387,181,1413,170.7L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z">
                                    </path>
                                </svg>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-lg-6 col-xl-5 order-2 order-lg-1">
                                    <p class="h2 mb-5 me-auto mx-1 mx-md-4 mt-4"> Reset Password</p>

                                    <!--  -->
                                    <form
                      class="mx-1 mx-md-4"
                      action="/resetPassword"
                      method="post"
                    >
                      <div class="d-flex flex-row align-items-center mb-2">
                        <div class="flex-fill mb-0">
                          <label for="Password">Password</label>
                          <input
                              type="password"
                              class="form-control"
                         
                              placeholder="Password"
                              id="password"
                              name="password" />
                   
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-2">
                        <div class="flex-fill mb-0">
                          <label for="confirmPassword">confirm Password</label>
                          <input
                            type="password"
                            class="form-control"
                            id="confirmPassword"
                            placeholder="Confirm Password"
                            name="confirmPassword"
                            required />

                          <span
                            id="conpassError"
                            style="color: rgb(241, 69, 69)"> <%= locals.errorDetail  %></span>
                        </div>
                      </div>

                      <div
                        class="d-flex justify-content-center mx-4 mb-3 mt-4 mb-lg-4"
                      >
                        <button
                          class="btn btn-lg rounded-pill update_pass_btn"
                          type="submit"
                        >
                          Update password
                        </button>
                      </div>

                      <div class="form-check d-flex justify-content-center">
                        <label
                          class="form-check-label ms-auto"
                          for="form2Example3">
                          <p>
                            Alredy have an account?
                            <a class="small" href="/login">Login</a>
                          </p>
                        </label>
                      </div>
                    </form>
                                    
                
                  </div>
                                <div class="col-7 col-md-6 col-lg-6 col-xl-5 d-flex align-items-center">
                                    <img src="https://pathwayport.com/saasland/images/reset_pass.png"
                                        class="img-fluid" alt="Sample image" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>