
<%- include('../htmlbody/header') -%>
<%- include('../htmlbody/navbar') -%>
   
    <div class="conatiner">
        <div class="col-12 col-sm-5 m-auto">
            <img class="img-fluid" src="/assests/cart.gif" alt="">
         <div class="col-12 text-center">
              <a href="/">
                    <h5>continue more shopping</h5></a>
         </div> 
           
        </div>
    </div>
    <%- include('../htmlbody/footer') -%> 