<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="shortcut icon" type="x-icon" href="/assests/adminlogo.png">
    <title>login</title>
  </head>

  <body>
    <section class="vh-100 login_main">
      <div class="container h-100">
        <a href="/">
          <img class="mt-2" src="/assests/logo.png" alt="" style="position: absolute;top: 10px;z-index: 1;"/></a>
        <div class="row d-flex justify-content-center align-items-center h-100">

          <div class="col-lg-12 col-xl-11 m-auto">
            <div class="card text-black border-0 ">
              <div class="card-body  login_submain overflow-hidden">
                <div class="col-12 wave_login">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1440 320"
                  >
                    <path
                      fill="#ffcc00"
                      fill-opacity="1"
                      d="M0,128L26.7,160C53.3,192,107,256,160,240C213.3,224,267,128,320,106.7C373.3,85,427,139,480,149.3C533.3,160,587,128,640,138.7C693.3,149,747,203,800,192C853.3,181,907,107,960,90.7C1013.3,75,1067,117,1120,149.3C1173.3,181,1227,203,1280,202.7C1333.3,203,1387,181,1413,170.7L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"
                    ></path>
                  </svg>
                </div>

                <div class="col-12 sub_wave_login">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffe57f" fill-opacity="0.8" d="M0,256L17.1,213.3C34.3,171,69,85,103,90.7C137.1,96,171,192,206,192C240,192,274,96,309,53.3C342.9,11,377,21,411,64C445.7,107,480,181,514,213.3C548.6,245,583,235,617,208C651.4,181,686,139,720,112C754.3,85,789,75,823,80C857.1,85,891,107,926,122.7C960,139,994,149,1029,170.7C1062.9,192,1097,224,1131,197.3C1165.7,171,1200,85,1234,48C1268.6,11,1303,21,1337,64C1371.4,107,1406,181,1423,218.7L1440,256L1440,320L1422.9,320C1405.7,320,1371,320,1337,320C1302.9,320,1269,320,1234,320C1200,320,1166,320,1131,320C1097.1,320,1063,320,1029,320C994.3,320,960,320,926,320C891.4,320,857,320,823,320C788.6,320,754,320,720,320C685.7,320,651,320,617,320C582.9,320,549,320,514,320C480,320,446,320,411,320C377.1,320,343,320,309,320C274.3,320,240,320,206,320C171.4,320,137,320,103,320C68.6,320,34,320,17,320L0,320Z"></path></svg>
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-6 col-lg-6 col-xl-5 order-2 order-lg-1">
                    <p class="h2 mb-5 me-auto mx-1 mx-md-4 mt-4">login</p>

                    <!--  -->
                    <form
                      class="mx-1 mx-md-4"
                      action="/login"
                      method="post"
                    >
                      <div class="d-flex flex-row align-items-center mb-2">
                        <div class="flex-fill mb-0">
                          <label for="name">Email</label>
                          <input
                            type="email"
                            class="form-control"
                            id="email"
                            placeholder="email"
                            name="email"
                            onchange="emailvalidate()"
                          />

                          <span
                            id="emailError"
                            style="color: red; font-size: 0.8rem"
                          ></span>
                        </div>
                      </div>

                      <div class="d-flex flex-row align-items-center mb-2">
                        <div class="flex-fill mb-0">
                          <label for="name">Password</label>
                          <input
                            type="password"
                            class="form-control"
                            id="password"
                            placeholder="password"
                            name="password"
                            onkeyup="passvalidate()"
                          />
                          <span
                            id="passError"
                            style="color: red; font-size: 0.8rem"
                          ></span>
                        </div>
                      </div>
                      <div class="form-check text-end">
                        <label class="form-check-label" for="form2Example3">
                          <a href="/forgotPassword">
                            <p>Forgot password</p>
                          </a>
                        </label>
                      </div>
                      <p id="errordetailid" style="color: rgb(239, 74, 74)" >
                        <%= locals.mailErr %>
                      </p>
                      <p id="errorblock" style="color: rgb(239, 74, 74)">
                        <%= locals.accountBlock %>
                      </p>
                      <p class="errordetail"style="color: rgb(100, 155, 18)">
                        <%= locals.successMsg %>
                      </p>
                      <div
                        class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
                      >
                        <button
                          class="btn btn-lg rounded-pill"
                          type="submit"
                          id="signup_btn"
                        >
                          Login
                        </button>
                      </div>

                      <div class="form-check d-flex justify-content-center">
                        <label
                          class="form-check-label ms-auto"
                          for="form2Example3"
                        >
                          <p>
                            Create new account?
                            <a class="small" href="/signup">signup</a>
                          </p>
                        </label>
                      </div>
                    </form>
                    <!--  -->
                  </div>
                  <div
                    class="col-7 col-md-6 col-lg-6 col-xl-4 m-auto d-flex align-items-center"
             >
                    <img
                      class="login_image mt-4 mt-sm-0" 
                      src="/assests/chair1.png"
                      class="img-fluid"
                      alt="Sample image"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>



<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
  crossorigin="anonymous"
></script>

<script>

setTimeout(()=>{
  document.getElementById('errordetailid').innerHTML="";
  document.getElementById('errorblock').innerHTML="";
  
},2000)


  const uemail = document.getElementById("email");
  const upass = document.getElementById("password");

  const emailError = document.getElementById("emailError");
  const passError = document.getElementById("passError");
  const signup_btn = document.getElementById("signup_btn");

  const emailregx = /\b^[^ ][a-z.\-_0-9]+@[a-z0-9]+\.[a-z]{2,3}\b/;
  // const passregx = /^(?=.*\d)(?=.*[a-zA-Z]).{4,14}$/;
 const passregx=/^(?!.*\s).{4,12}$/

  var email_correct = false;
  var pass_correct = false(
    (function () {
      signup_btn.setAttribute("disabled", true);
    })()
  );

  //email validation
  function emailvalidate() {
    if (uemail.value.match(emailregx)) {
      emailError.innerHTML = "";
      email_correct = true;
    } else {
      emailError.innerHTML = "Invalid email";
      email_correct = false;
    }
    finalcheck();
  }

  function passvalidate() {
    if (upass.value.match(passregx)) {
      passError.innerHTML = "";
      pass_correct = true;
    } else {
      passError.innerHTML = "Minimum 4 characters";
      pass_correct = false;
    }
    finalcheck();
  }
  // confornpass
  function removedisable() {
 
    signup_btn.removeAttribute("disabled");
  }

  function finalcheck() {
    if (email_correct && pass_correct) {
      return removedisable();
    } else {
      function adddisbale() {
        signup_btn.setAttribute("disabled", true);
      }
      adddisbale();
    }
  }
</script>
