<%- include('../htmlbody/header') -%> 
<%- include('../htmlbody/navbar') -%>
<style>
  .sortfiltermob{
    display: none;
  }
  @media only screen and (max-width : 895px) {
    .sortfiltermob{
    display: block;
  }
  .laptopsortfilter{
    display: none;
  }
}

</style>


<div class="container-fluid ">
  <div class="row">
    <div class="col-12 col-sm-11 col-md-5  m-auto">
<img class="img-fluid" src="/assests/no_result.gif" alt="">
    </div>
  </div>
</div>

<%- include('../htmlbody/footer') -%>


