
  <style>
    .Bnav_middle{
      width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    }
    .input_search{
display: flex;
justify-content: center;
    }

 
    .nav_right_section>ul{
 
      display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
  
    }
   
    @media only screen and (max-width : 990px) {
      .Bnav_middle{
      width: 100%;
    display: flex;
    flex-direction: column;
    }
    .input_search{
      width: 60%;

    }

}


  </style>
 <nav class="navbar navbar-expand-lg navbar-light bg-light text-center">
      <div class="col-5 col-sm-3 col-md-2 text-start  px-1">

        <a class="navbar-brand" href="/">
        <img class="img-fluid " style="width: 60%;" src="/assests/logo11.png" alt="">
        </a>    

        </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-3 mt-sm-0" id="navbarNavDropdown">
        <div class="input_search col-12 col-sm-7  col-md-4 mx-auto">
        <input id="searchinput" type="text" class="form-control" placeholder="search">
        <button onclick="handlesearch()" class="btn "><i class="fa-solid fa-magnifying-glass"></i></button> 
          </div>
      <ul class="navbar-nav mx-lg-auto mb-2 mb-lg-0 ">
        <li class="nav-item mx-lg-4">
          <a class="nav-link" href="#"  onclick="handleproduct()">Products</a>
        </li>
        <li class="nav-item mx-lg-4">
          <a class="nav-link" href="#" onclick="handleproduct()">Best selling</a>
                  </li>
    </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle d-none d-lg-block" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user" style="font-size: 1.5rem;"></i>
          </a>
            <a class="nav-link dropdown-toggle d-lg-none" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
          </a>
   
          <div class="dropdown-menu dropdown-menu-right">
          
            <% if (locals.userdata) { %>
                <button class="dropdown-item" type="button">
  <a href="/profile" class="nav-link" >
           Profile </a>

                </button>
            
            <% } %>
              
            <% if (locals.userdata ) { %>
              <button class="dropdown-item" type="button">
             <a href="/orderslist" class="nav-link">Orders </a>
          </button>
             <% } %>
           
           
             <% if (!locals.userdata ) { %>
              <button class="dropdown-item" type="button">
             <a href="/login"  class="nav-link"> Login  </a>
             </button>
             <% } %>
            
             <% if (!locals.userdata ) { %>
              <button class="dropdown-item" type="button">
               <a href="/signup"  class="nav-link">  Signup   </a>
              </button>
               <% } %>
         
         
           <% if (locals.userdata ) { %>
            <button class="dropdown-item" type="button">
             <a class="nav-link" href="/logout">   
              Logout
                </a>
              </button>
               <% } %>
                  </div>
             
     
        </li>
        <li class="nav-item">
     

          <a class="nav-link  d-lg-none" href="/cart">Cart</a>

          <a class="nav-link d-none d-lg-block" href="/cart"><i style="font-size: 1.5rem;" class="fa-solid fa-cart-shopping"></i> </a>
         
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link d-lg-none" href="/wishlist"> Wishlist</a>
          <a class="nav-link d-none d-lg-block" href="/wishlist">    <i style="font-size: 1.5rem;" class="fa-solid fa-heart"></i></a>
        </li>
       
      </ul>
          
          </div>
   
 
            </div>
          </nav> 
  
<script>
  
var categoryId=''
var searchValue=''
var sortedtype = JSON.parse(localStorage.getItem('sortType'))||"";
var categoryId = JSON.parse(localStorage.getItem('categoryId'))||"";
var pagevalue = JSON.parse(localStorage.getItem('page'))||1;
var sortValue = JSON.parse(localStorage.getItem('sortValue'))||"price";

const handleproduct=()=>{
  pagevalue= 1;
    localStorage.setItem('page', JSON.stringify(pagevalue));
    localStorage.setItem('categoryId', JSON.stringify(""));
    localStorage.setItem('sortType', JSON.stringify(""));
    localStorage.setItem('search', JSON.stringify(""));
    localStorage.setItem('sortValue', JSON.stringify(""));
  
    const url=`/Allproducts?page=${pagevalue}`;
    window.location.href = url;
}

const handlesearch=async()=>{
var searchinput=document.getElementById("searchinput").value;
localStorage.setItem('search', JSON.stringify(searchinput));
pagevalue= 1;
    localStorage.setItem('page', JSON.stringify(pagevalue));
if(searchinput){
  const url = `/sorting?search=${searchinput}&category=${categoryId ||''}&sortBy=${sortValue}&sortOrder=${sortedtype}&page=${pagevalue}`;
          window.location.href = url;
}
}
  </script>